<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>&nbsp;|&nbsp;<a href="cars/">Players</a>&nbsp;|
            &nbsp;<a href="/cars/new">Appointments</a>&nbsp;|
            &nbsp;<a href="cars/show">List</a>&nbsp;|&nbsp;<a href="cars/about">About</a>&nbsp;
    </nav>
    
</body>
</html>