<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <title>Kucnick's Garage</title>
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto">
            <a href="/" class="text-white px-3 py-2">Home</a>
            <a href="/appointments/new" class="text-white px-3 py-2">Appointments</a>
            <a href="/appointments/show" class="text-white px-3 py-2">List</a>
            <a href="/appointments/about" class="text-white px-3 py-2">About</a>
        </div>
    </nav>
