<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="/stylesheets/style.css"/>
    <title>Kucnick's Garage</title>
</head>
<body>
    <nav>
        <div>
            <a href="/" >Home</a>
            <a href="/appointments" >Appointments</a>
            <a href="/appointments/show" >List</a>
            <a href="/appointments/new" >New Appointment</a>
            <a href="/appointments/about" >About</a>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" class="google" ></a>
        </div>
    </nav>
