<%- include('./partials/header') %>

<body class="text-center">
  <h1 class="text-red-500 border-black border-4 inline-block">Kucnicks Automotive & Towing</h1>
  <p class="text-red-500">Welcome to Kucnicks</p>
</body>

<%- include('./partials/footer') %>