<!DOCTYPE html>
<html>
  <head>
    <title>Kucnicks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Kucnicks Automotive & Towing</h1>
    <p>Welcome to Kucnicks</p>
  </body>
</html>
