@tailwind base;
@tailwind components;
@tailwind utilities;







body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: red;
  outline: 2px black;
 
}

p {
  color: red;
  outline: 4px black;
}

nav {
  height: 20px;
  color: red;
  outline: 2px black;
}

.google {
  width: 20px;
  height: auto;
}