<%- include('../partials/header') %>

<h1>Kucnick's Automotive and Towing</h1>
<p>Phone: (814) 462-6233</p>
<p>Location: 1710 Greeley St, Bear Lake, PA 16402</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1482.730648071109!2d-79.50982021134384!3d41.99037457899236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8832afa386ba4c2d%3A0x168303c40718dcc1!2sKucnick%20Automotive!5e0!3m2!1sen!2sus!4v1717035518500!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<%- include('../partials/footer') %>

